<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1044625445838-hhccsbpvc5gul54524c3e0hvkltajges.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1044625445838-hhccsbpvc5gul54524c3e0hvkltajges</string>
	<key>API_KEY</key>
	<string>AIzaSyAgrnixc9_SGVTrfsSNtoLKCGM9ItnLYPA</string>
	<key>GCM_SENDER_ID</key>
	<string>1044625445838</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.settinggoals</string>
	<key>PROJECT_ID</key>
	<string>setting-goals</string>
	<key>STORAGE_BUCKET</key>
	<string>setting-goals.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1044625445838:ios:ea7aa8a48aefba2e1c919f</string>
</dict>
</plist>